<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Jornada</title>
</head>
<body>

	<form action="#" th:action="@{/new}" th:object="${vehiculo}"
		method="post">

		<p>
			Nombre:<input type="text" th:field="*{nombre}" />
		</p>
		<p>
			Recorrido:<input type="number" th:field="*{recorrido}" />
		</p>
		<p>
			Vehiculo: <select th:field="*{marca}">
				<option th:value="marca1">Marca 1</option>
				<option th:value="marca2">Marca 2</option>
				<option th:value="marca3">Marca 3</option>
			</select>
		</p>

		<p>
			<input type="submit" value="evaluar" /> <input type="reset"
				value="cancelar" />
		</p>


	</form>
</body>
</html>